@{
    ViewData["Title"] = "Purchased";
}

<h1 class="text-center mb-4">Thank You for your purchase!</h1>
<img src="https://techcrunch.com/wp-content/uploads/2022/01/solidarity-raised-fists-video-games.jpg?w=940&h=465&crop=1" width="1110" height="450" />
<h1 class="text-center mt-4">Check your email for confirmation. ENJOY!</h1>