@{
    ViewData["Title"] = "Contacted";
}

<div class="container text-center">
    <h2>Thanks for getting in touch! We'll speak soon!</h2>
    <a class="btn btn-success text-lg-center text-center mt-3" asp-area="" asp-controller="Home" asp-action="Index">Continue to Homepage</a>
</div>