<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, setial-scale=1.0" />
    <title>@ViewData["Title"] - Gaming Store</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
</head>
<body>
    <nav class="navbar navbar-expand-sm border-bottom mb-3" style="background-color: #F7F7F7">
        <div class="container">

            <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                <img src="~/imgs/logo.png" alt="Logo" style="width: 60px;">
            </a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Games" asp-action="All"><b>All Games</b></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Blogs" asp-action="All"><b>Blogs</b></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy"><b>Privacy</b></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="ContactUs"><b>Contact Us</b></a>
                    </li>
                </ul>
                <partial name="_LoginPartial" />
            </div>
        </div>
    </nav>

    <div class="container">
        @if (TempData.ContainsKey("GlobalMessageKey"))
        {
            <div class="alert alert-success text-center" role="alert">
                @TempData["GlobalMessageKey"]
            </div>
        }
        <main roleManager="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="text-muted text-center">
        <div class="container">
            &copy; @DateTime.UtcNow.Year - GamingStore
            <a class="text-dark ml-2" asp-controller="Home" asp-action="Privacy">Privacy</a> |
            <a class="text-dark" asp-controller="Games" asp-action="All">All Games</a> |
            <a class="text-dark" asp-controller="Home" asp-action="ContactUs">Contact Us</a> |
            <a class="text-dark" asp-controller="Home" asp-action="AboutUs">About Us</a>
        </div>
    </footer>

    <script src="~/plugins/jquery/jquery.min.js"></script>
    <script src="~/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>